@model IEnumerable<FPT_Learning_System.Models.ApplicationUser>

@{
    ViewBag.Title = "List of Trainers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table table-bordered table-borderless">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avartar)
            </th>
            <th colspan="
                    @if (User.IsInRole("ROLE_ADMIN")) { 
                        @:3
                    }
                    else
                    {
                        @:1
                    }
                ">
                @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-block btn-primary" })
            </th>
            @if (User.IsInRole("ROLE_TRAINING_STAFF"))
            {
                <th colspan="2">
                    @Html.ActionLink("Assign To Course", "AssignTrainerToCourse", null, new { @class = "btn btn-block btn-outline-primary" })
                </th>
            }
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        <img src="@Html.DisplayNameFor(model => model.Avartar)" alt="Avartar" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn-dark" })
    </td>
    <td>
        @using (Html.BeginForm("Delete", "Trainer", new { Id = item.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-block btn-danger" type="submit">Delete</button>
        }
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-block btn-default" })
    </td>
</tr>
    }

</table>
