@model IEnumerable<FPT_Learning_System.Models.Course>

@{
    ViewBag.Title = "List Of Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-borderless col-md-12">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th colspan="2">
                @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-block btn-primary" })
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
<tr>
    <td class="col-md-4">
        @Html.DisplayFor(modelItem => item.CourseCategory.CategoryName)
    </td>
    <td class="col-md-4">
        @Html.DisplayFor(modelItem => item.CourseName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn-dark" })
    </td>
    <td>
        @using (Html.BeginForm("Delete", "Course", new { Id = item.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-block btn-danger" type="submit">Delete</button>
        }
    </td>
</tr>
}

</table>
